body {
    color: blue;
    background-color: lightgray;
    margin: 0;
}

main {
    padding: 15px;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.bottomimages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

p {
    color: black;
    font-size: 20px;
}

a {
    color: white;
    text-decoration-color: lightblue;
}

header {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: darkblue;
    color: white;
    border-bottom: 4px #60a5fa solid;
    padding: 10px;
}

nav {
    font-size: 20px;
    display: flex;
    gap: 20px;
}

.image-text {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}

#interestspara {
    border-bottom: 1px black solid;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

li {
    font-size: 20px;
    margin-bottom: 40px;
}

strong a {
    color: black;
    text-decoration-color: black;
    font-weight: bold;
    text-decoration-thickness: 2px;
}

#aboutme {
    font-size: 20px;
}

main h1 {
    text-align: center;
    font-size: 40px;
}

main h2 {
    text-align: center;
    font-size: 30px;
}

#contact {
    min-height: 1300px;
    text-align: center;
    font-size: 25px;
    background-image: url("images/uwfountain.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#border {
    background-color: white;
    border: 2px black solid;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
}

.contact-text {
    color: black;
    text-decoration-color: black;
}

footer p {
    border-top: 2px black solid;
    font-size: 15px;
}

@media (min-width: 700px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
    }

    nav {
        font-size: 30px;
        flex-direction:row;
        gap: 40px;
    }

    .image-text {
        font-size: 30px;
        flex-direction: row;
        gap: 30px;
        align-items: flex-start;
    }

    .bottomimages {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }
}
